{% extends 'base.html.twig' %}



{% block content %}

    <h1>Inscrivez-vous</h1>

{{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="">S'inscrire</button>
    {{ form_end(form) }}
{% endblock %}
